.bg-custom {
  background-color: #5a5d64;
}

.bg-custom2 {
  background-color: #3e7c49;
}

.btn-custom {
  background-color: #383838;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #ffa860;
  color: #ffffff;
}